.idea/
*.iml
.dart_tool/
**/.dart_tool/
**/build/
**/coverage/
**/.flutter-plugins-dependencies
**/bin/
**/obj/
.vs/
*.user
.env
.env.*
!.env.example
**/appsettings.Local.json
.local/
**/secrets.json
**/appsettings.*.local.json
.vscode/
*.log
*.pfx
*.p12
*.pem
*.key
